/*--accent-color: #FF7BAC;
text-shadow: 1px 2px 15px var(--accent-color);
img.profile_pic{
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 6px solid var(--accent-color);
  border-bottom-right-radius: 50%;
  height: 250px;
  object-fit: cover;
  box-shadow: 1px 2px 15px var(--accent-color);
}*/
