<!DOCTYPE html>
<html>
 {% include head.html %}
 {% if site.uses_bg_image == "true" %}
 <body style="background-image:url('{{ site.bg_image | prepend: site.baseurl }}');">
 {% else %}
 <body>
 {% endif %}
  {% include heading.html %}
  {% include nav.html %}
  <div class="content">

   <h2 class="title">{{ page.title }}</h2>
   <ul class="tags">
    {% for tag in page.tags %}
     <li class="tags">{{ tag }}</li>
    {% endfor %}
   </ul>
   {{ content }}
  </div>

  {% include javascript.html %}
 </body>
</html>
